<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3 footer-links">
                <h6>ABOUT</h6>
                <a href="#">About Us</a><br>
                <a href="#">Contact Us</a>
            </div>
            <div class="col-6 col-md-2 mb-3 footer-links">
                <h6>HELP</h6>
                <a href="#">Payments</a><br>
                <a href="#">Shipping</a><br>
                <a href="#">Cancellation & Returns</a><br>
                <a href="#">FAQ</a>
            </div>
            <div class="col-6 col-md-2 mb-3 footer-links">
                <h6>POLICY</h6>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Terms of Use</a><br>
                <a href="#">Security</a><br>
                <a href="#">Sitemap</a>
            </div>
            <div class="col-6 col-md-2 mb-3 footer-links">
                <h6>SOCIAL</h6>
                <a href="#">Facebook</a><br>
                <a href="#">Instagram</a><br>
                <a href="#">Twitter</a><br>
                <a href="#">YouTube</a>
            </div>
            <div class="col-md-4">
                <h6>Registered Office Address</h6>
                <p class="small">
                    Phoenix Mart Pvt. Ltd.<br>
                    123 Beach Road, Kochi, Kerala - 682001, India<br>
                    Phone: +91 98765 43210<br>
                    Email: support@phoenixmart.com
                </p>
            </div>
        </div>
        <div class="text-center border-top pt-3 small">
            © 2025 Phoenix Mart. All rights reserved.
        </div>
    </div>
</footer>
